<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>!%d{YYYY-MM-dd HH:mm:ss} [%thread] %-7([%level]) %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>


	
  <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
      <destination>127.0.0.1:4560</destination>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

	<root level="INFO">
	  	<appender-ref ref="STDOUT" />
	</root>

    <logger name="jp.kusumotolab.kgenprog.coordinator.CoordinatorLogger" level="info">
        <appender-ref ref="stash" />
    </logger>
</configuration>